
  .div_1 {
    background-color: rgb(255, 0, 0);
    height: 50px;
  }
  .div_2 {
    background-color: rgb(31, 3, 3);
    height: 400px;
  }
  .div_3 {
    background-color: rgb(241, 0, 0);
    height: 50px;
  }
  .div_4 {
    background-color: rgb(54, 1, 247);
    height: 50px;
  }
  